# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# JavaScript/JSON/SCSS files
[*.{js,jsx,ts,tsx,json,scss,css}]
indent_style = tab
indent_size = 4

# Package.json should use 2 spaces (npm convention)
[package.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
